mixin inline-input(args)
  .form-group.row
    label.col-sm-2.col-form-label.text-md-right #{args.label}
    .col-md-10
      input.form-control(id=args.id name=args.name type=args.type || "text" value=args.value required=args.required)
